# Auto detect text files and perform LF normalization
* text=auto
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGMfy9kBDADErZP1xnG4zfqRDwIZLumqJGXOzmvGA0myLgIRteWfeAAcZUNh
wwWxxeGQ15bjBD7J+eYkwug7hVNHCA1AKUoUNcEKGm7713a6kKeamwajVDSk3OJf
biWgWtRkOPCnTeQ13VGgU4+uYy38EZaEAQqjfdDmR3UfoSaljH+qpQrw98o4Avr7
dslwTblBIf4hHFXUg4Yse2DFwyv2JYR0FFUHs0R4MliK9FT0lAYK+hiFKiiP2sMA
ArsryTohYPzeCQFAKHTitZUobkMJASOP89MOASI0+rXqRzc8axjLgrj5y2UmmNcH
JOHpsN6ajHCX0AgpwWTOrM2+yNnfa46hDVcVQKwi0zznYBsQmELI1sGRxb7BA0aX
u14P/itpgV1MwJcLBGCN/yTLGln2SXTg5l5nU4+T//hpgmbPVAiFn3FzBz5LwB5T
x0kWSX3ijlwvoFM6849U/JrcbmNnPnHY+bYlMU8mDwf7UmVTXdkXb2TvnCROhJ9C
JEa3u2Ou/SSyZn8AEQEAAbQlanVzdGluIChncGcpIDxqdXN0aW5mYW5lc2lAZ21h
aWwuY29tPokBzgQTAQgAOBYhBIvZC9Lo4WHAR0os4qHBIrPVL5iLBQJjH8vZAhsD
BQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEKHBIrPVL5iLCyYL/R48j3V3vres
zZFA0nst44lTWu7ieCl7ZNEXgR27gMdmDxhjEM98I9rhzk0eD6jkkhEonTL8wCc8
HCqg+RFHjSyJGUHZLqIYgt6FRicgVZM+cNPUaPMZBladv1FrBQiXz+zrzPwoVc9M
deXA7idwaPpBE7wsbqcP8Mr7zFDV//WUiPQv4f9fLAae3oUGl8kacaoHRzKdrOJ5
jwXA4J6UesAoJPBeNsDg7qo7NcKz2inGUu5PSzGjTjzenqHrXfGz3wUJiMVP466I
LbifxOaFpS/TODrHQhvKbM2I8LOEI6TU3npUFaY9QgbJkYaF3arU0HxHTh+cXxck
g1jJwWyyAIBAFVZAj3BJPZYyLa37c3rZpkZYJNVC4zLeC/pc66knZkLFVefXVJsT
JCp4FSEWz/PaaoseWtxbg6gzPzJ/IDRdKy8cQekwYrIS93pyR0Dw6LLHbL7Snv9p
9u07x8i+Q73Njv2elDJJCGXMBMi5XbIzkubuBCuA4vlGCmMlpn43qLkBjQRjH8vZ
AQwAvmJuULjhOhOamg05eSUYLlGdvHgnhqFQuSn1zUEng2HPMj5ala8QtqmPBsm/
/LoEL4Xhm+gV18eeXFgyeRMME1zAFSTc+rKQ05xM6NtkaikclE7nhObP8R128wEk
itEYtPRR7e0zIG9k4genwlBNh2EsTR6QVvHgrb6Y9R0MZFydcUsEf/h+bo3VoQ0U
ym1a7I0kM33QI/JvKiNTvV0As7hUx6JFnXUHCwrUIU99tOcWVf4QTen8S+3A+4PB
OLmtkE3MS3F+Jc5oil+MtJjk13WchHUkTuU7cCTUbw7DO4bc2fIKT3V0PVParHGA
pnSL0cMQL81o3GY87cehPt6F2i6QdYP+anRmiQamPjU3HL9s63zAT0erURwkC8Ba
CFrMRps6xNTrI1O+56sjHsB5b6KKnnZ0pfJjhJdq6RPUT/b1qNBW8pOBOoaRwQQ2
PQA3YuBFqUb2WhCsRTY7fzYmp94XMpwdyQ9Likz9OSay3VuqMazQtNNMITNnkVeW
BiJ5ABEBAAGJAbYEGAEIACAWIQSL2QvS6OFhwEdKLOKhwSKz1S+YiwUCYx/L2QIb
DAAKCRChwSKz1S+Yi+M1DACjns20Q159Wt0sw5r+jjLrs3xYRPl8k9e2QeyWXBYx
I9qm3SvaNackpQ7GULNkN587+ChFiCCXCeuWZMjMA5RU+p4705MFWQhe+RVxVXg/
xMnwwZlUkTX03uim/ELGbz3rVgcHQAP2dwzKL7pw+4NEYTfOWR9y74w+sujbkAHH
fvZ/X2ImXdRXoeu+bh1yt87YrFWZfCWJ7nCnUAYDb3Yhw0lBh2dzYP0lxytMD86E
anqZjmyFXL94nrKiKfHY/cFb7SNg8+1HpeGRn7UlZ7hrhJ3A9c6x9SLk/vChu54q
EIBrFo9IumLT68guhQrAe+DILA6aXp1LgLIetXJWbvfbyl5DmJo7hhkG0oqGXv3e
5kpJnlqGu6hbYLFmEP/9bXxdRvkydSb39+iIkbxakh2oGvUgjvhaNwrYCOrtdQeJ
PitidU2h6V+fg00vJ9c2mWyFpPMNlHrlSZtGjkJjlGlBD+f7l0eClS4oCSgG7orl
LyS+BOAmzmCHrL8OBxnFp2w=
=Vr7w
-----END PGP PUBLIC KEY BLOCK-----

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC0zKxZVFRSw5GhrpuPcTgHmfHR0LvolmU59pFfTKtZ6